.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  max-width: 260px; /* Set the width of the sidebar */
  width: 15rem;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(32, 31, 31); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav__brand a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #818181;
  display: block;
  width: 100%;
}

.sidenav__hr {
  width: 80%;
  border: 1px solid rgb(197, 168, 168);
}

/* The navigation menu links */
.sidenav__content a {
  flex-wrap: wrap;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  width: 100%;
}

.sidenav__content a > .icon {
  size: 20px;
  padding-left: 50px;
}

/* When you mouse over the navigation links, change their color */
.sidenav__content a:hover {
  color: #f1f1f1;
}

.sidenav__content__item {
  display: block;
}

.sidenav__footer {
  font-size: 1.5rem;
  font-weight: bold;
  color: #b778db;
  position: fixed;
  bottom: 10px;
  margin-left: 1.5rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
